<!DOCTYPE html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{day}}</h1>
    <h1>meals</h1>
    <table border="black">
        <tr>
            <th>breakfast</th>
            <th>breakfastdrink</th>
            <th>lunch</th>
            <th>lunchdrink</th>
            <th>evening</th>
            <th>eveningdrink</th>
            <th>dinner</th>
            <th>dinnerdrink</th>
        </tr>
        <tr>
        <td>{{breakfast}}</td>
        <td>{{breakfastdrink}}</td>
        <td>{{lunch}}</td>
        <td>{{lunchdrink}}</td>
        <td>{{evening}}</td>
        <td>{{eveningdrink}}</td>
        <td>{{dinner}}</td>
        <td>{{dinnerdrink}}</td>
        </tr>
    </table>
    <h1>classes</h1>
    <table border="black">
        <tr>
            <th>8-9</th>
            <th>9-10</th>
            <th>10-11</th>
            <th>11-12</th>
            <th>12-1</th>
            <th>1-2</th>
            <th>2-3</th>
            <th>3-4</th>
            <th>4-5</th>
            <th>5-6</th>
        </tr>
        <tr>
            <!-- {% for choice in time1%}
           
            {% endfor %} -->
            <td>{{time1}}</td>
            <td>{{time2}}</td>
            <td>{{time3}}</td>
            <td>{{time4}}</td>
            <td>{{time5}}</td>
            <td>{{time6}}</td>
            <td>{{time7}}</td>
            <td>{{time8}}</td>
            <td>{{time9}}</td>
            <td>{{time10}}</td>
        </tr>
    </table>
</body>
</html>