*{
    margin: 0px;
    padding: 0%;
}
html{
    margin:0%;
}

.days{
    opacity: 0.9;
    background-image: linear-gradient(to right ,#02aab0 , #00cdac);

}
#day{
    
    font-family: cursive;
    font-size: 200px;
}
table{
    background-color:aliceblue;
    padding: 40px;
    margin: 20px;
    border-spacing:10px ;
}
th{
    background-color: blanchedalmond;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
}
td{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
}
.class,.meal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#meal{
    margin-top: 20px;
}

#classes,#day,#meal{
    display: flex;
    justify-content: center;
}


.todo{
    height:500px;
    width:300px;
    outline: 3px solid black;
    border: 50px solid blanchedalmond;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tododiv{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.edittask:hover{
    font-size: 17px;

}