*{
    margin: 0px;
    padding: 0%;
}
html{
    margin:0%;
   
}

.days{
    opacity: 0.9;
    background-image: linear-gradient(to right ,#02aab0 , #00cdac);

}
#day{
    
    font-family: cursive;
    font-size: 200px;
}
table{
    background-color:aliceblue;
    padding: 40px;
    margin: 20px;
    border-spacing:10px ;
}
th{
    background-color: blanchedalmond;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
}
td{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
}
.class,.meal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#meal{
    margin-top: 20px;
}

#classes,#day,#meal{
    display: flex;
    justify-content: center;
}


.todo,.cricket{
    height:500px;
    width:300px;
    outline: 3px solid black;
    border: 50px solid blanchedalmond;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}
.tododiv{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.edittask:hover{
    font-size: 17px;

}
.jobs{
    height: 300px;
    width: auto;
    outline: 3px solid black;
    border: 50px solid blanchedalmond;
   margin-top: 10px;

}
.job_padd{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.chart{
   height:300px;
   width: 600px;
}



@media only screen and (max-width: 1600px) {
    html{
        margin: 0%;
        display: -webkit-inline-box;
    }
}
@media only screen and (max-width: 410px) {
    html {
        
    }
}